<div class="wrapper-index clearfix">
	<div class="left">
		<% include _leftbar.ejs%>
	</div>
	<div class="mid">
		<% include _midbar.ejs%>
	</div>
	<div class="right">
		<% include _rightbar.ejs%>
	</div>
</div>
