<form action="" method="post" accept-charset="utf-8">
	<div class="wrapper-post">
		<div class="head">
			<ul>
				<li>文章标题：<input type="text" name="title"  placeholder="文章标题" required></li>
				<li class="textarea"><textarea  name="content" style="width:1000px;height:600px;visibility:hidden;"></textarea></li>
				<li><input type="submit" class="button" value="发布">
			</ul>
		</div>
	</div>
</form>
