<div class="read-sort">
	<div class="head">
		<h2>文章类别</h2>
	</div>
	<div class="content">
		<ul>
			<li>1、CSS：</li>
			<li>2、JS：</li>
			<li>3、HTML：</li>
			<li>4、前端安全：</li>
		</ul>
	</div>
</div>
<div class="read-sort">
	<div class="head">
		<h2>广告部分</h2>
	</div>
	<div class="content">
		<ul>
			<li>1、CSS：</li>
			<li>2、JS：</li>
			<li>3、HTML：</li>
			<li>4、前端安全：</li>
		</ul>
	</div>
</div>