<form action="" method="post" accept-charset="utf-8" class="signup_bg">
	<div class="wrapper-signin">
		<h1>用户注册</h1>
		<ul>
			<li>昵称：<input type="text" name="name" placeholder="输入昵称...(必填项)" required></li>
			<li>密码：<input type="password" name="password" placeholder="输入密码...(必填项)" required></li>
			<li>邮箱：<input type="email" name="email" placeholder="仅支持qq和163邮箱..."required></li>
			<li><input type="submit" value="注册" class="button"></li>
		</ul>
	</div>
</form>


