<form action="" method="post" accept-charset="utf-8" class="signin_bg">
	<div class="wrapper-signin">
		<h1>用户登录</h1>
		<ul>
			<li>昵称：<input type="text" name="name" placeholder="输入昵称..." required></li>
			<li>密码：<input type="password" name="password" placeholder="输入密码..." required></li>
			<li class="identity">身份：<input type="radio" name="identity" checked>用户<input type="radio" name="identity">管理员</li>
			<li>第三方登录：<a href="/auth/github"><i class='iconfont icon-github'></i></a><a href="/auth/github"><i class='iconfont icon-qq'></i></a><a href="/auth/github"><i class='iconfont icon-weibiaoti1'></i></a></li>
			<li><input type="submit" value="登录" class="button"></li>
		</ul>
	</div>
</form>


